/* 
  -----------------------------------
  Barre de menu
  2 colonnes - menu intégré
  gauche
  -----------------------------------
*/
body {
	background-color: #8D9298;
	
	color: #333333;
	font-family: Adobe Garamond Pro, "Garamond", Arial, sans-serif;
	font-size: 100%;
    padding: 20px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;	
}
/* Définition du bandeau */
.d1{
    width: 100%;
    height: 300px;
    margin: 0px auto;
    background-color: #EDEDED;
    background-size: cover;
	background-position: center; 
    background-repeat: no-repeat;
    animation: fondu 15s ease-in-out infinite both;
	position: relative;
	overflow: hidden;
}
.ombre-titre {
    position: absolute;
    top: 0;
    left: 0% ;
    width: 40%; /* Largeur de l'ombre (ajustable) */
    height: 100%; /* Prend toute la hauteur du header */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); /* Dégradé blanc */
    display: flex; /* Pour centrer le texte */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    z-index: 1; 
}
.ombre-titre h1 {
    margin: 0;
    font-size: 3rem; 
    color: #333; 
    font-weight: bold;
    font-family: 'Arial', sans-serif; 
	color : #0000FF ;
}
.conteneur{
    max-width: 1100px;
    margin: 0px auto;
}
.d2{
    width: 100%;
    height: 0px;
    padding-top: 75%;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}
@keyframes fondu{
    0%{background-image: url(img_css/Fichier_000.png);}
    33.33%{background-image: url(img_css/Fichier_001.png);}
    66.67%{background-image: url(img_css/Fichier_004.png);}
    100%{background-image: url(img_css/Fichier_000.png);}
}
#masthead {
	background-image: url(img_css/masterhead0.jpg);
	background-repeat: no-repeat;
	height: 300px;
	background-color: #C3A48F;
	 
}
#logo {
	background-image: url(img_css/pr4_logo.gif);
	background-repeat: no-repeat;
	height: 298px;
	}
#scroll_to_top {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 100px;
  right: 50px;
}
#scroll_to_top img {
  width: 100px;
}	
/********CALQUE**********/
#layout {
	width: 1100px;
	margin: 0 auto;
	background-color: #FFFFFF;
	background-image: url(img_css/pr-shadow.jpg);
	background-repeat: repeat-y;
	box-shadow: 0 0 28px rgba(0,0,0,0.80),0 0 30px rgba(0,0,0,0.80);
}
/********MENU**********/
li {
list-style:none !important;
color:#FFFFFF;
padding:10px;
FONT-FAMILY: Adobe Garamond Pro, "Garamond", Times, serif;
font-weight: bold;
font-size:16px;
text-decoration:none;
}
nav ul {
background-image: url(img_css/pr-mbar.jpg);
padding:0;
margin:0;
}
nav ul li {
list-style: none;
line-height:25px;
float:left;
background-image: url(img_css/pr-mbar.jpg);
}
nav ul li a {
color:#FFFFFF;
padding:10px;
font-size:20px;
text-decoration:none;
}
li a:hover {
border-bottom:3px #FFFFFF solid;
}
nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
z-index:99999;
display:list-item !important;
position:absolute;
margin-top:5px;
margin-left:-10px;
}
nav ul li:hover ul li {
float:none;
}

/********COLONNE**********/
#columnwrapper {
	
	background-color: white;
	background-repeat: no-repeat;
	background-position: right top;
	margin-top: 1;
	margin-right: 1;
	margin-bottom: 1;
	margin-left: 1;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em
}
/********Images***********/
img {
  width: 500px; /* need to overwrite inline dimensions */
  height: auto;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 2em;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.0);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  padding-left: 1em;
  height: 40%;
  width: 88%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
/********ENTETES*******/
h1 {
	font-family: Adobe Garamond Pro, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 2em;
	letter-spacing: 0.3em;
}
h1, h2, h3, h4 {
	line-height: normal;
	font-family: Adobe Garamond Pro, Arial, Helvetica, sans-serif;
}
h2 {
	margin: 1.5em 0 0 0;
	font-size: 1.25em;
}
h3 {
	margin: 1.5em 0 0 0;
	font-size: 1.2em;
}
#sidecontent h3.topheading {
	margin: 0;
}

/*Effecement calque flottant*/
.clearit {
	font-size: 0;
	line-height: 0;
	height: 0;
	clear: both;
}

/********GRAPHIQUE BAS*********/
#bottom {
	background-image: url(img_css/pr-footer.jpg);
	background-repeat: no-repeat;
	height: 48px;
	background-position: left bottom;	
}

/***********PIED DE PAGE************/
/*Contenant pied de page*/
#footerbox {
	width: 1100px;
	margin: 0 auto;
	font-size: 0.7em;
	color: #FFFFFF;
}
/*intérieur pied de page*/
#footer {
	padding: 0 0 0 30px;
}
/******Passer les liens********/
/*Contenant*/
#skips {
	position: absolute;
	top: 6px;
	right: 15px;
	margin: 0 15px 0 0;
}
/*styles*/
#skips a, #skips a:visited, #skips a:hover {
	color: #EC7063;
	cursor: default;
	font-size: 0.1em;
}
.p7fix a:active, #skips a:active, #skips a:focus {
	color: #FFFFFF;
	background-color: #4a4a4a;
	cursor: pointer;
	font-size: .8em;
}
/*********STYLES LIENS********/
#columnwrapper a:hover, #columnwrapper a:active, #columnwrapper a:focus, 
#footer a:hover, #footer a:active, #footer a:focus {
	background-color: #EC7063;
	color: #FFFFFF;
	text-decoration: none;
}
.p7TBMsubbox {
	padding: 4px 0 24px 12px;
}
#alpha-1 a:hover {background-color: transparent;}

a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #0000FF;
}
a:active {
	color: #0000FF;
}
h6 {
	margin: 1.5em 0 0 0;
	font-size: 9px;
	font-family: Adobe Garamond Pro, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
